<div
  fxLayout="row"
  fxLayout.xs="column"
  fxFill
  [ngClass]="{ hidden: ontopPlayer }"
>
  <div
    class="players-row"
    fxFlex
    fxLayout="column"
    fxLayout.xs="row"
    fxLayoutAlign="space-around stretch"
    *ngFor="let c of others"
  >
    <div
      class="players-row"
      fxFlex
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-around stretch"
      *ngFor="let p of c"
      (click)="ontopPlayer = p"
    >
      <app-player [player]="p" fxFill></app-player>
    </div>
  </div>
</div>
<div *ngIf="ontopPlayer" fxFill (click)="ontopPlayer = undefined" class="ontop">
  <app-player
    [player]="ontopPlayer"
    fxFill
    style="position: relative; width: 100%; height: 100%"
  ></app-player>
</div>
<div class="me"><app-player [player]="me" [itsMe]="true"></app-player></div>
