.player-video {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.my-video
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    max-width: 100%;
    max-height: 100%;
}
