.mat-card {
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.mat-card-title {
  margin: 0;
}

.mat-card-content {
  text-align: center;
}

.player-video {
  width: 200px !important;
  height: 150px !important;
  object-fit: fill;
  margin: 5px;
}

.my-video
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
