<form
  [formGroup]="characterForm"
  fxLayout="column"
  fxLayoytGap="5px"
  fxLayoutAlign="space-around stretch"
>
  <mat-form-field appearance="legacy" fxFlex>
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Nome" formControlName="Nome" />
  </mat-form-field>
  <mat-form-field appearance="legacy" fxFlex>
    <mat-label>Ruolo</mat-label>
    <input matInput placeholder="Ruolo" formControlName="Ruolo" />
  </mat-form-field>
  <mat-form-field appearance="legacy" fxFlex>
    <mat-label>Specialita</mat-label>
    <input matInput placeholder="Specialita" formControlName="Specialita" />
  </mat-form-field>
  <div
    fxLayout="row"
    fxLayoytGap="5px"
    fxLayoutAlign="space-around center"
    fxFlex
  >
    <mat-label fxFlex>Abilità</mat-label>
    <button
      (click)="addAbilita()"
      fxFlex="nogrow"
      mat-icon-button
      aria-label="Aggiungi Abilità"
      color="primary"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div
    *ngFor="let t of abilitaArray.controls; let i = index"
    formArrayName="Abilita"
    fxLayout="row"
    fxLayoytGap="5px"
    fxLayoutAlign="space-around center"
  >
    <div [formGroupName]="i">
      <mat-form-field appearance="legacy" fxFlex>
        <input
          matInput
          formControlName="NomeAbilita"
          type="string"
          placeholder="Abilità"
        />
      </mat-form-field>

      <mat-form-field appearance="legacy" fxFlex>
        <mat-select formControlName="Dado" placeholder="d?">
          <mat-option [value]="4">d4</mat-option>
          <mat-option [value]="6">d6</mat-option>
          <mat-option [value]="8">d8</mat-option>
          <mat-option [value]="10">d10</mat-option>
          <mat-option [value]="12">d12</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        (click)="removeAbilita(i)"
        fxFlex="nogrow"
        mat-icon-button
        aria-label="delete trait"
        color="warning"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayoytGap="5px"
    fxLayoutAlign="space-around center"
    fxFlex
  >
    <mat-form-field appearance="legacy">
      <mat-label>Destino</mat-label>
      <input
        matInput
        placeholder="Destino"
        formControlName="Destino"
        type="number"
      />
    </mat-form-field>
    <div fxFlex></div>
    <mat-form-field>
      <mat-label>Denaro</mat-label>
      <mat-select formControlName="Denaro" appearance="legacy" fxFlex>
        <mat-option [value]="4">d4</mat-option>
        <mat-option [value]="6">d6</mat-option>
        <mat-option [value]="8">d8</mat-option>
        <mat-option [value]="10">d10</mat-option>
        <mat-option [value]="12">d12</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field appearance="legacy" fxFlex>
    <mat-label>Portafortuna</mat-label>
    <input matInput placeholder="Portafortuna" formControlName="Portafortuna" />
  </mat-form-field>
  <div fxFlex>
    <div fxLayout="row" fxLayoytGap="5px" fxLayoutAlign="space-around center">
      <mat-label fxFlex>Condizioni</mat-label>
      <button
        (click)="addCondizione()"
        fxFlex="nogrow"
        mat-icon-button
        aria-label="add condition"
        color="primary"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div
      *ngFor="let t of condizioniArray.controls; let i = index"
      formArrayName="Condizioni"
      fxLayout="row"
      fxLayoytGap="5px"
      fxLayoutAlign="space-around center"
    >
      <mat-form-field appearance="legacy" fxFlex>
        <input matInput [formControlName]="i" type="string" />
      </mat-form-field>
      <button
        (click)="removeCondizione(i)"
        fxFlex="nogrow"
        mat-icon-button
        aria-label="delete condition"
        color="warning"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div fxFlex>
    <div fxLayout="row" fxLayoytGap="5px" fxLayoutAlign="space-around center">
      <mat-label fxFlex>Equipaggiamento</mat-label>
      <button
        (click)="addEquipaggiamento()"
        fxFlex="nogrow"
        mat-icon-button
        aria-label="add condition"
        color="primary"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div
      *ngFor="let t of equipaggiamentoArray.controls; let i = index"
      formArrayName="Equipaggiamento"
      fxLayout="row"
      fxLayoytGap="5px"
      fxLayoutAlign="space-around center"
    >
      <mat-form-field appearance="legacy" fxFlex>
        <input matInput [formControlName]="i" type="string" />
      </mat-form-field>
      <button
        (click)="removeEquipaggiamento(i)"
        fxFlex="nogrow"
        mat-icon-button
        aria-label="delete condition"
        color="warning"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div fxFlex></div>
  <div fxFlex="nogrow">
    <button mat-raised-button color="primary" (click)="onSubmit()">
      SALVA
    </button>
  </div>
</form>
