<form
  [formGroup]="characterForm"
  fxLayout="column"
  fxLayoytGap="5px"
  fxLayoutAlign="space-around stretch"
>
  <mat-form-field appearance="legacy" fxFlex>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="Name" />
  </mat-form-field>
  <mat-form-field appearance="legacy" fxFlex>
    <mat-label>Archetype</mat-label>
    <input matInput placeholder="Archetype" formControlName="Archetype" />
  </mat-form-field>
  <mat-form-field appearance="legacy" fxFlex>
    <mat-label>Drive</mat-label>
    <input matInput placeholder="Drive" formControlName="Drive" />
  </mat-form-field>
  <div
    fxLayout="row"
    fxLayoytGap="5px"
    fxLayoutAlign="space-around center"
    fxFlex
  >
    <mat-form-field appearance="legacy">
      <mat-label>XP</mat-label>
      <input matInput placeholder="XP" formControlName="XP" type="number" />
    </mat-form-field>
    <div fxFlex></div>
    <mat-form-field appearance="legacy">
      <mat-label>Armor</mat-label>
      <input
        matInput
        placeholder="Armor"
        formControlName="Armor"
        type="number"
      />
    </mat-form-field>
  </div>
  <div
    fxLayout="row"
    fxLayoytGap="5px"
    fxLayoutAlign="space-around center"
    fxFlex
  >
    <div fxFlex>
      <mat-form-field appearance="legacy">
        <mat-label>Vig</mat-label>
        <input matInput placeholder="Vig" formControlName="Vig" type="number" />
      </mat-form-field>
    </div>
    <div fxFlex></div>
    <div fxFlex>
      <mat-form-field appearance="legacy">
        <mat-label>Dex</mat-label>
        <input matInput placeholder="Dex" formControlName="Dex" type="number" />
      </mat-form-field>
    </div>
    <div fxFlex></div>
    <div fxFlex>
      <mat-form-field appearance="legacy">
        <mat-label>Wil</mat-label>
        <input matInput placeholder="Wil" formControlName="Wil" type="number" />
      </mat-form-field>
    </div>
  </div>
  <div fxFlex>
    <div fxLayout="row" fxLayoytGap="5px">
      <mat-label fxFlex>Boasts</mat-label>
      <button
        (click)="addBoast()"
        fxFlex="nogrow"
        mat-icon-button
        aria-label="add trait"
        color="primary"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div
      *ngFor="let t of boastsArray.controls; let i = index"
      formArrayName="Traits"
      fxLayout="row"
      fxLayoytGap="5px"
      fxLayoutAlign="space-around center"
    >
      <mat-form-field appearance="legacy" fxFlex>
        <input matInput [formControlName]="i" type="string" />
      </mat-form-field>
      <button
        (click)="removeBoast(i)"
        fxFlex="nogrow"
        mat-icon-button
        aria-label="delete trait"
        color="warning"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <mat-label fxFlex>Grit</mat-label>
  <div
    fxFlex
    fxLayout="row"
    fxLayoytGap="5px"
    fxLayoutAlign="space-around center"
  >
    <mat-form-field appearance="legacy">
      <input matInput formControlName="Grit" type="number" />
    </mat-form-field>
    <div fxFlex style="text-align: center">DI</div>
    <mat-form-field appearance="legacy">
      <input matInput formControlName="MaxGrit" type="number" />
    </mat-form-field>
  </div>

  <div fxFlex>
    <div fxLayout="row" fxLayoytGap="5px">
      <mat-label fxFlex>Conditions</mat-label>
      <button
        (click)="addCondition()"
        fxFlex="nogrow"
        mat-icon-button
        aria-label="add condition"
        color="primary"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div
      *ngFor="let t of conditionsArray.controls; let i = index"
      formArrayName="Conditions"
      fxLayout="row"
      fxLayoytGap="5px"
      fxLayoutAlign="space-around center"
    >
      <mat-form-field appearance="legacy" fxFlex>
        <input matInput [formControlName]="i" type="string" />
      </mat-form-field>
      <button
        (click)="removeCondition(i)"
        fxFlex="nogrow"
        mat-icon-button
        aria-label="delete condition"
        color="warning"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="row" fxLayoytGap="5px">
      <mat-label fxFlex>Equipment</mat-label>
      <button
        (click)="addEquipment()"
        fxFlex="nogrow"
        mat-icon-button
        aria-label="add condition"
        color="primary"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div
      *ngFor="let t of equipmentArray.controls; let i = index"
      formArrayName="Equipment"
      fxLayout="row"
      fxLayoytGap="5px"
      fxLayoutAlign="space-around center"
    >
      <mat-form-field appearance="legacy" fxFlex>
        <input matInput [formControlName]="i" type="string" />
      </mat-form-field>
      <div fxFlex="nogrow">
        <button
          (click)="removeEquipment(i)"
          mat-icon-button
          aria-label="delete equipment"
          color="warning"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-form-field appearance="legacy" fxFlex>
    <mat-label>Coins</mat-label>
    <input matInput placeholder="Coins" formControlName="Coins" type="number" />
  </mat-form-field>
  <div fxFlex="nogrow">
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
  </div>
</form>
