<div
  *ngIf="messaggio.Tipo == tipiMessaggio.Chat"
  class="chatmessage messagebox"
>
  <span class="username">{{ messaggio.Utente?.Nome }}:</span>&nbsp;{{ testo }}
  <div
    class="dice-container"
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
    *ngIf="hasDice"
  >
    <div
      *ngFor="let d of dice!.Dices"
      class="diceroll"
      [ngClass]="{
        good: dice!.Critic === true && d == dice!.Choices[0],
        bad: dice!.Critic === false && d == dice!.Choices[0],
        choice: d == dice!.Choices[0] || d == dice!.Choices[1]
      }"
    >
      {{ d }}
    </div>
    <div *ngIf="dice!.Critic == undefined">
      {{ dice!.Choices[0] }} + {{ dice!.Choices[1] }} = {{ dice!.Result }}
    </div>
    <div *ngIf="dice!.Critic === true" class="good">SUCCESSO CRITICO!</div>
    <div *ngIf="dice!.Critic === false" class="bad">FALLIMENTO CRITICO!</div>
  </div>
</div>
<div
  class="statusmessage messagebox"
  *ngIf="messaggio.Tipo == tipiMessaggio.Stato"
>
  <span class="username">{{ messaggio.Utente?.Nome }}</span
  >&nbsp;{{ "è " + (online ? "online" : "offline") }}
</div>
<mat-divider></mat-divider>
