<div
  *ngIf="messaggio.Tipo == tipiMessaggio.Chat"
  class="chatmessage messagebox"
>
  <span class="username">{{ messaggio.Utente?.Nome }}:</span>&nbsp;{{ testo }}
  <div
    class="dice-container"
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
    *ngIf="hasDice"
  >
    <div *ngFor="let d of dice!.Dices" class="diceroll">
      {{ d }}
    </div>
    <div>{{ dice?.Result }}</div>
  </div>
</div>
<div
  class="statusmessage messagebox"
  *ngIf="messaggio.Tipo == tipiMessaggio.Stato"
>
  <span class="username">{{ messaggio.Utente?.Nome }}</span
  >&nbsp;{{ "è " + (online ? "online" : "offline") }}
</div>
<mat-divider></mat-divider>
