<div fxLayout="column" fxLayoutAlign="none stretch" style="height: 100%">
  <div fxFlex="90%" style="overflow: scroll" id="chatscrollarea">
    <div style="width: 100%">
      <app-messaggio *ngFor="let m of messages" [messaggio]="m">
      </app-messaggio>
    </div>
  </div>
  <div fxFlex="10%" fxLayout="row" fxLayoutAlign="space-around center">
    <div
      fxFlex="nogrow"
      *ngFor="let v of [-2, -1, 0, 1, 2]"
      (click)="roll(v)"
      class="roll-btn"
    >
      {{ v }}
    </div>
  </div>
  <form
    [formGroup]="chatForm"
    (ngSubmit)="onSubmit()"
    fxFlex="10%"
    fxLayout="row"
    fxLayoutAlign="space-between stretch"
  >
    <textarea
      type="text"
      rows="5"
      fxFlex="grow"
      formControlName="text"
    ></textarea>
    <button mat-button fxFlex="nogrow" type="submit">Invia</button>
  </form>
</div>
