<div fxLayout="column" fxLayoutAlign="none stretch" style="height: 100%">
  <div fxFlex="90%" style="overflow: scroll" id="chatscrollarea">
    <div style="width: 100%">
      <app-messaggio *ngFor="let m of messages" [messaggio]="m">
      </app-messaggio>
    </div>
  </div>
  <div fxFlex="10%" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="nogrow" (click)="roll('1d4')" class="roll-btn">d4</div>
    <div fxFlex="nogrow" (click)="roll('1d6')" class="roll-btn">d6</div>
    <div fxFlex="nogrow" (click)="roll('1d8')" class="roll-btn">d8</div>
    <div fxFlex="nogrow" (click)="roll('1d10')" class="roll-btn">d10</div>
    <div fxFlex="nogrow" (click)="roll('1d12')" class="roll-btn">d12</div>
    <div fxFlex="nogrow" (click)="roll('1d20')" class="roll-btn">d20</div>
  </div>
  <form
    [formGroup]="chatForm"
    (ngSubmit)="onSubmit()"
    fxFlex="10%"
    fxLayout="row"
    fxLayoutAlign="space-between stretch"
  >
    <textarea
      type="text"
      rows="5"
      fxFlex="grow"
      formControlName="text"
    ></textarea>
    <button mat-button fxFlex="nogrow" type="submit">Invia</button>
  </form>
</div>
