<ng-container>
  <app-login *ngIf="!logged" fxFill></app-login>
  <div
    *ngIf="logged"
    fxFill
    fxLayoutAlign="space-around stretch"
    fxLayout="row"
    fxLayout.xs="column"
    class="main-container"
  >
    <mat-sidenav-container fxFlex>
      <mat-sidenav #rightSidenav position="end" mode="over">
        <mat-tab-group mat-align-tabs="center" style="height: 100%">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>chat</mat-icon>
            </ng-template>
            <app-chat></app-chat>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>person</mat-icon>
            </ng-template>
            <ng-container *ngIf="characters.length == 1">
              <app-character
                fxFill
                [characterID]="characters[0].ID"
              ></app-character>
            </ng-container>
            <ng-container *ngIf="characters.length > 1">
              <mat-accordion fxFill>
                <mat-expansion-panel
                  hideToggle
                  *ngFor="let c of characters; let first = first"
                  [expanded]="first"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ c.Nome }}
                    </mat-panel-title>
                    <mat-panel-description fxLayout="row">
                      <div fxFlex></div>
                      <button mat-button color="primary" (click)="setMaster(c)">
                        MASTER
                      </button>
                      <button mat-button color="primary" (click)="remove(c)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <app-character fxFill [characterID]="c.ID"></app-character>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title> AGGIUNGI GIOCATORE </mat-panel-title>
                  </mat-expansion-panel-header>
                  <app-add-user fxFill></app-add-user>
                </mat-expansion-panel>
              </mat-accordion>
            </ng-container>
          </mat-tab>
        </mat-tab-group>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-players *ngIf="streaming" fxFill></app-players>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <div
      class="buttons"
      fxLayoutAlign="space-around stretch"
      fxLayout="column"
      fxLayout.xs="row"
    >
      <button
        mat-fab
        (click)="toggleStreaming()"
        color="primary"
        *ngIf="readyToStream"
      >
        <mat-icon>{{ streaming ? "call_end" : "call" }}</mat-icon>
      </button>
      <ng-container *ngIf="streaming">
        <button mat-fab [matMenuTriggerFor]="videoMenu" color="primary">
          <mat-icon>videocam</mat-icon>
        </button>
        <mat-menu #videoMenu="matMenu">
          <button mat-menu-item (click)="changeVideoDevice()">NO VIDEO</button>
          <button mat-menu-item *ngFor="let d of availableVideos" (click)="changeVideoDevice(d)">
            {{ d.label }}
          </button>
        </mat-menu>
        <button mat-fab [matMenuTriggerFor]="audioMenu" color="primary">
          <mat-icon>mic</mat-icon>
        </button>
        <mat-menu #audioMenu="matMenu">
          <button mat-menu-item (click)="changeAudioDevice()">NO AUDIO</button>
          <button mat-menu-item *ngFor="let d of availableAudios" (click)="changeAudioDevice(d)">
            {{ d.label }}
          </button>
        </mat-menu>
        <button mat-fab color="primary" (click)="toggleSharing()">
          <mat-icon>{{ isSharingStream ? 'cancel_presentation' : 'present_to_all'}}</mat-icon>
        </button>
      </ng-container>
      <button mat-fab (click)="rightSidenav?.toggle()" color="primary">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</ng-container>
