<ng-container>
  <app-login *ngIf="!logged" fxFill></app-login>
  <div
    *ngIf="logged"
    fxFill
    fxLayoutAlign="space-around stretch"
    fxLayout="row"
    fxLayout.xs="column"
    class="main-container"
  >
    <mat-sidenav-container fxFlex>
      <mat-sidenav #rightSidenav position="end" mode="side">
        <mat-tab-group mat-align-tabs="center" style="height: 100%">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>chat</mat-icon>
            </ng-template>
            <app-chat fxFill></app-chat>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>person</mat-icon>
            </ng-template>
            <ng-container *ngIf="!isMaster">
              <app-character
                fxFill
                [characterID]="characters[0].ID"
              ></app-character>
            </ng-container>
            <ng-container *ngIf="isMaster">
              <mat-accordion fxFill>
                <mat-expansion-panel
                  hideToggle
                  *ngFor="let c of characters; let first = first"
                  [expanded]="first"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ c.Nome }}
                    </mat-panel-title>
                    <mat-panel-description fxLayout="row">
                      <div fxFlex></div>
                      <button mat-button color="primary" (click)="setMaster(c)">
                        MASTER
                      </button>
                      <button mat-button color="primary" (click)="remove(c)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <app-character fxFill [characterID]="c.ID"></app-character>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title> AGGIUNGI GIOCATORE </mat-panel-title>
                  </mat-expansion-panel-header>
                  <app-add-user [added]="added" fxFill></app-add-user>
                </mat-expansion-panel>
              </mat-accordion>
            </ng-container>
          </mat-tab>
        </mat-tab-group>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-players *ngIf="streaming"></app-players>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <div
      class="buttons"
      fxLayoutAlign="space-around stretch"
      fxLayout="column"
      fxLayout.xs="row"
    >
      <button
        mat-fab
        (click)="toggleStreaming()"
        [color]="streaming ? 'red' : 'green'"
        *ngIf="readyToStream"
      >
        <mat-icon>{{ streaming ? "call_end" : "call" }}</mat-icon>
      </button>
      <ng-container *ngIf="streaming">
        <button mat-fab color="primary" (click)="hidden = !hidden">
          <mat-icon>{{ hidden ? "videocam" : "videocam_off" }}</mat-icon>
        </button>
        <button
          mat-fab
          color="primary"
          (click)="toggleCamera()"
          *ngIf="availableVideos.length > 1"
        >
          <mat-icon>switch_video</mat-icon>
        </button>
        <button mat-fab (click)="mute = !mute" color="primary">
          <mat-icon>{{ hidden ? "mic" : "mic_off" }}</mat-icon>
        </button>
        <button
          mat-fab
          color="primary"
          (click)="toggleSharing()"
          *ngIf="canShareScreen"
        >
          <mat-icon>{{
            isSharingScreen ? "cancel_presentation" : "present_to_all"
          }}</mat-icon>
        </button>
      </ng-container>
      <div fxFlex></div>
      <button mat-fab (click)="rightSidenav?.toggle()" color="primary">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</ng-container>
