<ng-container>
  <app-login *ngIf="!logged"></app-login>
  <mat-sidenav-container class="main-container" *ngIf="logged">
    <mat-sidenav #rightSidenav position="end" mode="side">
      <mat-tab-group mat-align-tabs="center" style="height: 100%">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>chat</mat-icon>
          </ng-template>
          <app-chat></app-chat>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>person_add</mat-icon>
          </ng-template>
          <app-add-user></app-add-user>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>
    <mat-sidenav #leftSidenav position="start" mode="side" style="max-width: 20%;">
      <div fxLayout="column" style="height: 100%">
        <button
          fxFlex="nogrow"
          mat-icon-button
          aria-label="toggle sidevan"
          (click)="toggleStreaming()"
        >
          <mat-icon>camera</mat-icon>
        </button>
        <app-player
          *ngFor="let player of players"
          fxFlex
          [player]="player"
        ></app-player>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <button
        id="toggle-right-btn"
        mat-icon-button
        aria-label="toggle sidevan"
        (click)="rightSidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <button
        id="toggle-left-btn"
        mat-icon-button
        aria-label="toggle sidevan"
        (click)="leftSidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
