.mat-tab-header {
  flex-basis: 0 !important;
}

::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1 !important;
}

#toggle-right-btn {
  position: absolute;
  top: 0;
  right: 0;
}

#toggle-left-btn {
  position: absolute;
  top: 0;
  left: 0;
}

#stream-btn {
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  z-index: 1000;
}

.calling {
  background-color: red;
  color: white;
}

.notcalling {
  background-color: green;
  color: white;
}
